<center><h2>Worlds</h2></center>
<ul>
  {% for world in worlds %}
  <li>
    <a href="{{ url_for('world', world_name=world.name) }}">
      <span class="caret"> {{ world.name }} </span>
    </a>
<!--
    {% if world.categories|length > 0 %}
    <div class="category">
      <ul id="categories">
        {% for category in world.categories %}
        <li>
          <a
            href="{{ url_for('world', world_name=world, category=category) }}"
            >{{ category }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endfor %}
  </li>
</ul>
-->