<!-- /path/to/your/flask_app/templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ world }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'sidebar.html' %}
    <div class="main-content">
    <ul>
        <h1>{{ world }}</h1>
        {% for item in world_data %}
        <li>
            <a href="/{{ world }}/{{ item }}">
                {{ item }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
